.messages-scroll {
    overflow-y: scroll;
    background-color: aliceblue;
    display: flex;
    /* меняем отображение сообщений по привычному ux/ui снизу вверх */
    flex-direction: column-reverse;
    flex-grow: 1;
}

.messages {
    display: flex;
    flex-direction: column;
    & a{
        text-decoration: revert;
        color: revert;
    }
}
