.avatar {
    background-color: white;
    color: #333333;
    border-radius: 50%;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    & *{
        cursor: pointer;
    }
}

.horizontal:hover {
    background-color: rgba(221, 221, 221, 0.27);
}

.vertical {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.lastSeen {
    font-size: 0.8em;
}

.imageAttachments{
    display: flex;
}
.imageAttachments>img{
    max-height: 50px;
}

.form {
    display: flex;
    align-items: center;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.formInput {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .375rem;
}
