.material-symbols-outlined {
    cursor: pointer;
}

.material-symbols-outlined:hover {
    color: #fbd767;
}

.topbar .avatar {
    background-color: white;
    color: #333333;
    border-radius: 50%;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar .horizontal:hover {
    background-color: rgba(221, 221, 221, 0.27);
}

.topbar .vertical {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.topbar .last-seen {
    font-size: 0.8em;
}

.messages-scroll {
    overflow-y: scroll;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.message {
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
    background-color: white;
    align-self: flex-start;
    max-width: 50%;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.message.new {
    animation-name: appear;
    transform-origin: left bottom;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

@media (max-width: 640px) {
    .message {
        max-width: calc(100% - 30px);
    }
}

.message.my {
    align-self: flex-end;
}

.message.my.new {
    transform-origin: right bottom;
}

.message .top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.message .text {
    white-space: preserve-breaks;
    word-break: break-word;
}

.form {
    display: flex;
    align-items: center;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

input[type=submit] {
    visibility: collapse;
}

textarea {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .375rem;
}